In [9]:
import pandas as pd
import numpy as np


data1 = {"Name": ["jason", "colleen", "linda", "jason"], "ABC": [3, 4, 6, 25], "DEF": [34.5, 234.4, 45, 100]}
df = pd.DataFrame(data=data1)
df

      Name  ABC    DEF
0    jason    3   34.5
1  colleen    4  234.4
2    linda    6   45.0
3    jason   25  100.0

In [101]:
df["Name"][3]

'jason'

In [103]:
f_lambda = lambda gf: len(gf["Name"].iloc[0])>6

grp=df.groupby("Name")
grp.filter(f_lambda)

      Name  ABC    DEF
1  colleen    4  234.4

In [88]:
f_lambda = lambda grp_frame: grp_frame["Name"][grp_frame["Name"]]

grp=df.groupby("Name")
grp.filter(f_lambda)

KeyError: 0

In [84]:


grp=df.groupby("Name")
for name, grpfm in grp:
    x = grpfm["ABC"]
    if x> 1:
        print('yes')
    else:
        print('no')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [52]:
x = pd.Series([1, 3, 4])
x

0    1
1    3
2    4
dtype: int64

In [85]:
x.item()

/Users/jason/Library/Python/3.7/lib/python/site-packages/ipykernel_launcher.py:1: FutureWarning: `item` has been deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

4